@import "color.less";
html{
	font-size: 16px;
}
body{
	background-color: @dark;
}
.bg{
	background-image: url(../img/bg.png);
	background-size: cover;
	width: auto;
	height: 100%;
	overflow: hidden;
	display: block;
	opacity: 0.1;
	position: fixed;
}
h1,h2,h3,h4,h5,h6{
	color: @primary;
	font-weight: 500;
	margin-bottom: 0.5rem;
	line-height: 1.5;
}
.h,h{
	&1{
		font-size: 2.5rem;
	}
	&2{
		font-size: 2rem;
	}
	&3{
		font-size: 1.75rem;
	}
	&4{
		font-size: 1.5rem;
	}
	&5{
		font-size: 1.25rem;
	}
	&6{
		font-size: 1rem;
	}
}
.center{
	margin: 0 auto;
	text-align: center;
}

button{
	&.sbtn{
		padding: 0.3rem 0.5rem;
		border: 2px solid;
		border-radius: 0.25rem;
		font-size: 1rem;
		color: @white;
		cursor: pointer;
		&.big{
			padding: 0.5rem 0.75rem;
			font-size: 1.25rem;
		}
		&.small{
			padding: 0.3rem 0.5rem;
			font-size: 0.75rem;
		}
		&.primary{
			background-color: fade(@primary,20%);
			border-color: fade(@primary, 50%);
			&:hover{
				background-color: fade(@primary,50%);
				border-color: fade(@primary, 100%);
			}
		}
		&.delete{
			background-color: fade(@pink, 20%);
			border-color: fade(@pink, 50%);
			&:hover{
				background-color: fade(@pink,50%);
				border-color: fade(@pink, 100%);
			}
		}
		&.apply{
			background-color: fade(@green, 20%);
			border-color: fade(@green, 50%);
			&:hover{
				background-color: fade(@green,50%);
				border-color: fade(@green, 100%);
			}
		}
	}
}